.sheet-rolltemplate-pf table {
  background: #000;
  border: solid 2px #00f;
  border-collapse: separate;
  border-radius: 1em;
  color: #00f;
  overflow: hidden;
  width: 100%;
}
.sheet-rolltemplate-pf table thead th {
  background: #008;
  color: #00f;
  padding: 0.5em 1em;
}
.sheet-rolltemplate-pf table tbody {
  text-align: center;
}
.sheet-rolltemplate-pf table tbody td {
  padding: 0.5em 0;
}
.sheet-rolltemplate-pf table tbody .sheet-notes {
  font-size: 0.8em;
  font-style: italic;
}
.charsheet {
  background: #000;
  color: #0ff;
  height: 100%;
  min-height: 9in;
  width: 9in;
}
.charsheet input {
  border: none;
  color: #0ff;
  box-shadow: none;
}
.charsheet input[type=number]::-webkit-inner-spin-button, .charsheet input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet select {
  box-shadow: none;
  height: auto;
  line-height: 18px;
  margin-bottom: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.charsheet textarea {
  background: linear-gradient(to bottom, transparent, transparent 17px, rgba(0, 255, 255, 0.1));
  background-attachment: local;
  background-size: 1px 18px;
  border: none;
  box-shadow: none;
  padding: 0;
  resize: none;
}
.charsheet .sheet-graphicalField input {
  background: transparent;
  padding: 0;
  position: absolute;
}
.charsheet .sheet-labelledUnderlined {
  display: inline-block;
  margin-bottom: 1em;
  min-width: 0.45in;
  position: relative;
}
.charsheet .sheet-labelledUnderlined label {
  color: rgba(0, 255, 255, 0.5);
  position: absolute;
  font-size: 0.75em;
  line-height: 0.75em;
  top: 110%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner {
  border-bottom: solid 1px #0ff;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner input {
  background: transparent;
  border: none;
  border-radius: 0;
  padding-bottom: 0;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner select {
  border: none;
  border-radius: 0;
  padding-bottom: 0;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner .sheet-readOnlyBox {
  padding: 0;
  padding-top: initial;
  width: 100%;
}
.charsheet .sheet-mathOperator {
  display: inline-block;
  margin-bottom: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.charsheet .sheet-readOnlyBox {
  background: rgba(0, 0, 255, 0.005);
  display: inline-block;
  padding: 4px;
  width: 3.5em;
}
.charsheet .sheet-tabsContainer {
  position: relative;
}
.charsheet .sheet-tabsContainer .sheet-tab {
  display: inline-block;
  margin-left: 1em;
}
.charsheet .sheet-tabsContainer .sheet-tab > input {
  height: 0.1px;
  opacity: 0;
  position: absolute;
  width: 0.1px;
}
.charsheet .sheet-tabsContainer .sheet-tab > input:checked ~ .sheet-tabPanel {
  display: block;
}
.charsheet .sheet-tabsContainer .sheet-tab > input:checked ~ label {
  background: #0ff;
  color: #000;
}
.charsheet .sheet-tabsContainer .sheet-tab > label {
  background: rgba(0, 255, 255, 0.2);
  border: solid 2px #0ff;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  color: #000;
  font-style: italic;
  font-weight: bold;
  height: 1.1em;
  padding: 0.2em 1em;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.charsheet .sheet-tabsContainer .sheet-tab > .sheet-tabPanel {
  background: rgba(0, 255, 255, 0.2);
  border-radius: 1em;
  border-bottom: solid 2px #0ff;
  border-top: solid 2px #0ff;
  display: none;
  left: 0;
  padding: 1em;
  position: absolute;
  top: 2em;
  width: 95%;
}
.charsheet table thead th {
  line-height: 1em;
}
.charsheet table tbody td.sheet-blackBox {
  display: table-cell;
}
.charsheet .sheet-centeredH {
  text-align: center;
}
.charsheet .sheet-centeredV > * {
  vertical-align: middle;
}
.charsheet .sheet-floatLeft {
  float: left;
}
.charsheet .sheet-floatRight {
  float: right;
}
.charsheet .sheet-inlineBlock {
  display: inline-block;
}
