.sheet-rolltemplate-mlprim5 table {
  background: #000;
  border: solid 2px #0ff;
  border-collapse: separate;
  border-radius: 1em;
  color: #0ff;
  overflow: hidden;
  width: 100%;
}
.sheet-rolltemplate-mlprim5 table thead th {
  background: #088;
  color: #0ff;
  padding: 0.5em 1em;
}
.sheet-rolltemplate-mlprim5 table tbody {
  text-align: center;
}
.sheet-rolltemplate-mlprim5 table tbody td {
  padding: 0.5em 0;
}
.sheet-rolltemplate-mlprim5 table tbody .sheet-notes {
  font-size: 0.8em;
  font-style: italic;
}
.sheet-rolltemplate-mlprim5 .inlinerollresult {
  background: #000;
}
.charsheet {
  background: #000;
  color: #0ff;
  height: 100%;
  min-height: 9in;
  width: 9in;
}
.charsheet .sheet-corePanel .sheet-primaryAttribute {
  display: inline-block;
}
.charsheet .sheet-corePanel .sheet-primaryAttribute .sheet-equation {
  display: inline-block;
  margin-left: -20px;
  margin-top: 32px;
  position: relative;
  vertical-align: top;
}
.charsheet .sheet-corePanel .sheet-primaryAttribute .sheet-total {
  display: inline-block;
}
.charsheet .sheet-corePanel .sheet-primaryAttribute .sheet-total button {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.charsheet .sheet-corePanel .sheet-primaryAttribute .sheet-total .sheet-readOnlyBox {
  font-size: 2em;
  left: 37px;
  text-align: center;
  top: 37px;
  width: 32px;
}
.charsheet .sheet-corePanel .sheet-secondaryAttribute {
  display: inline-block;
}
.charsheet .sheet-corePanel .sheet-secondaryAttribute .sheet-equation {
  display: inline-block;
  margin-left: -20px;
  margin-top: 32px;
  position: relative;
  vertical-align: top;
}
.charsheet .sheet-corePanel .sheet-secondaryAttribute .sheet-total {
  display: inline-block;
}
.charsheet .sheet-corePanel .sheet-secondaryAttribute .sheet-total input {
  font-size: 1.5em;
  text-align: center;
  width: 32px;
}
.charsheet input {
  border: none;
  color: #0ff;
  box-shadow: none;
}
.charsheet input[type=number]::-webkit-inner-spin-button, .charsheet input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet label.sheet-inlineLabel {
  color: #0ff;
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-left: 1em;
  margin-bottom: 0;
  vertical-align: middle;
  width: initial;
}
.charsheet label.sheet-inlineLabel + input {
  background: rgba(0, 0, 0, 0.5);
}
.charsheet select {
  background: rgba(0, 0, 0, 0.5);
  border: solid 1px #0ff;
  box-shadow: none;
  color: #0ff;
  height: auto;
  line-height: 18px;
  margin-bottom: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.charsheet select option {
  background: rgba(0, 0, 0, 0.5);
}
.charsheet textarea {
  background: linear-gradient(to bottom, transparent, transparent 17px, rgba(0, 255, 255, 0.1));
  background-attachment: local;
  background-size: 1px 18px;
  border: none;
  box-shadow: none;
  color: #0ff;
  padding: 0;
  resize: vertical;
}
.charsheet textarea::-webkit-input-placeholder {
  color: rgba(0, 255, 255, 0.5);
}
.charsheet .sheet-checkbox {
  background: rgba(0, 0, 0, 0.5);
  border: solid 1px #0ff;
  border-radius: 3px;
  display: inline-block;
  height: 20px;
  min-width: 20px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.charsheet .sheet-checkbox span {
  color: #0ff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.charsheet .sheet-checkbox input {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.charsheet .sheet-checkbox input:checked + span {
  background: #0ff;
  color: #000;
}
.charsheet .sheet-graphicalField {
  position: relative;
}
.charsheet .sheet-graphicalField input, .charsheet .sheet-graphicalField .sheet-readOnlyBox {
  background: transparent;
  padding: 0;
  position: absolute;
}
.charsheet .sheet-labelledUnderlined {
  display: inline-block;
  margin-bottom: 1em;
  min-width: 0.45in;
  position: relative;
}
.charsheet .sheet-labelledUnderlined label {
  color: rgba(0, 255, 255, 0.5);
  position: absolute;
  font-size: 0.75em;
  line-height: 0.75em;
  top: 110%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner {
  border-bottom: solid 1px #0ff;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner input {
  background: transparent;
  border: none;
  border-radius: 0;
  padding-bottom: 0;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner select {
  border: none;
  border-radius: 0;
  padding-bottom: 0;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner .sheet-readOnlyBox {
  padding: 0;
  padding-top: initial;
  width: 100%;
}
.charsheet .sheet-mathOperator {
  display: inline-block;
  margin-bottom: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.charsheet .sheet-readOnlyBox {
  cursor: not-allowed;
  display: inline-block;
}
.charsheet .sheet-gearPanel .sheet-itemCard {
  border: solid 1px #0ff;
  border-radius: 10px;
  margin-bottom: 1em;
  overflow-x: hidden;
}
.charsheet .sheet-gearPanel .sheet-itemCard .sheet-header {
  background: rgba(0, 0, 0, 0.5);
}
.charsheet .sheet-powersPanel input:in-range + .sheet-powerPoints {
  display: none;
}
.charsheet .sheet-tabsContainer {
  position: relative;
}
.charsheet .sheet-tabsContainer .sheet-tab {
  display: inline-block;
  margin-left: 1em;
}
.charsheet .sheet-tabsContainer .sheet-tab > input {
  height: 0.1px;
  opacity: 0;
  position: absolute;
  width: 0.1px;
}
.charsheet .sheet-tabsContainer .sheet-tab > input:checked ~ .sheet-tabPanel {
  display: block;
}
.charsheet .sheet-tabsContainer .sheet-tab > input:checked ~ label {
  background: #0ff;
  color: #000;
}
.charsheet .sheet-tabsContainer .sheet-tab > label {
  background: rgba(0, 255, 255, 0.2);
  border: solid 2px #0ff;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  color: #000;
  font-style: italic;
  font-weight: bold;
  height: 1.1em;
  padding: 0.2em 1em;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.charsheet .sheet-tabsContainer .sheet-tab > .sheet-tabPanel {
  background: rgba(0, 255, 255, 0.2);
  border-radius: 1em;
  border-bottom: solid 2px #0ff;
  border-top: solid 2px #0ff;
  display: none;
  left: 0;
  padding: 1em;
  position: absolute;
  top: 2em;
  width: 95%;
}
.charsheet button {
  background: #0ff;
  border: solid 2px rgba(0, 255, 255, 0.25);
  color: #000;
}
.charsheet button:active {
  background: rgba(0, 255, 255, 0.25);
}
.charsheet h2 {
  color: #0ff;
  font-style: italic;
  text-decoration: underline;
}
.charsheet table thead th {
  line-height: 1em;
}
.charsheet table tbody td.sheet-blackBox {
  display: table-cell;
}
.charsheet .sheet-centeredH {
  text-align: center;
}
.charsheet .sheet-centeredV > * {
  vertical-align: middle;
}
.charsheet .sheet-floatLeft {
  float: left;
}
.charsheet .sheet-floatRight {
  float: right;
}
.charsheet .sheet-inlineBlock {
  display: inline-block;
}
